%style
  :sass
    .word
      font-size: 1em
      margin: 0 0 2em 0
      padding: 0.5em
      border: 1px solid black
      border-radius: 5px
    .id
      display: none
    .entry
      margin-top: 0.5em
      font-size: 1.3em
      font-weight: bold
    .known
    .clip

- @levels.each_slice(@levels.size / 3) do |levels|
  .span3
    - levels.each do |level|
      .word
        .known.btn.btn-small I know this!
        .clip.btn.btn-small Clip!
        .id
          = level.id
        .entry
          = level.entry
        = truncate(level.definition, length: 30)
